body{

    background-color: #e7d5b9;
}


.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  background-color: #e7d5b9;
}


.container{
    display: flex;
    flex-direction: column;
}   
.buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
    
}
button{
    border: none;
    
}
.rock-btn {
    background-color: #b4a07d;
    color: #fff;
    border: 1px solid #8c7a5d;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rock-btn:hover {
    background-color: #863b09;
}


.create-btn:hover {
    background-color: #863b09;
    color: white;
}
.landing{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  background-color: #e7d5b9;

}
.dashboard{
    background-color: #e7d5b9;
    height: 86.6vh;
  
}

.speech-bubble {
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
    animation: bounceIn 3s ease-in-out infinite;
  }

  .speech-bubble::before {
    content: '';
    position: absolute;
    top: 100%;
    margin-left: -14px;
    border-width: 10px;
    border-style: solid;
    border-color: #3498db transparent transparent transparent;
  }

  @keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
 

  

  
 